# Database
DATABASE_URL="postgresql://user:password@localhost:5432/portfolio"

# Next Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key" # Generate with: openssl rand -base64 32

# Nextcloud Configuration
NEXTCLOUD_URL="https://your-nextcloud-instance.com"
NEXTCLOUD_USERNAME="your_username"
NEXTCLOUD_PASSWORD="your_password"
NEXTCLOUD_PHOTOS_PATH="/Photos/Portfolio"  # The path where photos will be stored in Nextcloud

# Admin Account
ADMIN_PASSWORD="secure_admin_password"
